
body{font-family: "Lato", sans-serif;}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
:root {
  --navbar-bg-color: hsl(0, 0%, 15%);
  --navbar-text-color: hsl(0, 0%, 85%);
  --navbar-text-color-focus: white;
  --navbar-bg-contrast: hsl(0, 0%, 25%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}

.container {
  max-width: 100%;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  margin-left: auto;
  margin-right: auto;
 
}
#navbar {
  --navbar-height: 64px;
  position: fixed;
  height: var(--navbar-height);
  background-color: var(--navbar-bg-color);
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.navbar-item {
  margin: 0.4em;
  width: 100%;
}

.home-link,
.navbar-link {
  color: var(--navbar-text-color);
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: center;
}

.home-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
  border-radius: 5px;
}

.navbar-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
  background-color: var(--navbar-bg-contrast);
}
.navbar-logo {
  background-color: var(--navbar-text-color-focus);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 0.5em;
}
#navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background-color: var(--navbar-text-color);
}
#navbar-toggle:is(:focus, :hover) .icon-bar {
  background-color: var(--navbar-text-color-focus);
}
#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
  position: absolute;
  margin: 0;
  width: 30px;
}
#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
  transform: rotate(45deg);
}
#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0;
}
#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
  transform: rotate(-45deg);
}
#navbar-menu {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
}
#navbar-toggle[aria-expanded="true"] + #navbar-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
}
.navbar-links {
  list-style: none;
  position: absolute;
  background-color: var(--navbar-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  margin: 1.4rem;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(223, 221, 221, 0.7);
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
  padding: 1em;
}


  .section{
    height:100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 80px;
  
  }
 .navbag{
   
 
position: relative;
  
   width: 100%;
   justify-content: center;
   align-items: center;
   text-align: center;

   z-index: -1;

   }
  .navbag .title{
    padding-top: 15%;
    position: absolute;
    top: 20%;
   left: 10%
  }
  .navbag .images{
   
      width: 100%;
      justify-content: center;
      align-items: center;
      text-align: center
     }
      .images img{
      width: 100%;
     
     }
  .section_first{
    margin-top: 30px;
    left: 20px;
   display: flex;
    max-width: 80%;
  padding-top: 10px;
    border-radius: 20px;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;

  }
  .section_first_img img{

    border-radius: 20px;
    width: 80%;
  }
  .solution
  {
   margin: auto;
  }
  ol {
    counter-reset: li; 
    list-style: none; 
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
  }
  
  ol a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #DAD2CA;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
  }
  
  ol a:hover { background: #E9E4E0; }
  ol a:hover:before { transform: rotate(360deg); }
  ol a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #f9dd94;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
  }
.section_second{
    width: 80%;
   
    margin: auto;
    border-radius: 20px;
}
.section_second img{
    width: 100%;
    border-radius: 20px;
}

  .footer{
  
    min-height: 200px;
    background-color: rgb(95, 93, 93);
    left: 0;
    right: 0;
    display: flex;

    width: 100%;
    color: white;
  width: 100%;
   
}
  .row{
  width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
  }
  .column_about{
    align-items: center;
    text-align: center;
   margin-left: 30px;
  }
  .column_Contact span{
  color:  #f9dd94;
  margin-right: 20px;

  }
  

    .column_Links{
      display: block;
    }
    .column_Links a i{
        font-size:48px;
        color: white;
        margin-right: 10px;
        
    }
/*   start  Services side */
          .muin{
            display: block;
          
            margin-top: 10px;
           
          }
          .section-img{
            background-image: url("/imge/headimg.png");
              background-position: center;
              background-size: cover;
              background-color: cornsilk;
              height: 100%;
              width: 100%;
              justify-content: center;
              align-items: center;
              text-align: center;
              z-index: -1;
          }
          .section-img .title{
            padding-top: 15%;
          }
          .muin-section{
            display: flex;
           
              padding-top: 10px;
              margin-bottom: 10px;
           width: 100%;
            text-align: center;
            background-color: white;
            color: wheat;
            margin-bottom: 100px;
          }
          .leftdiv{

          }
          .rightdiv{
            font-size: 16px;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: #d8d7d5;
            width: 100%;
            display: block;
          
          }
          p{
            align-items: center;
            text-align: center;

          }
          
          .inerdiv{
            background-color: aqua;
            max-width: 30%;
            padding: 20px;
            border-radius: 20px;
            align-items: center;
            text-align: center;
            margin-left: 35%;
            
          }
         .muin {
          max-width: 100%;
      
         }
          
          .muin .container{
            max-width: 80%;
              height: 50%;
              background: #fff;
              margin: 50px auto;
              box-shadow: 0 0 20px rgba(32, 186, 109, 0.6);
              box-sizing: border-box;
              padding: 40px;
          }
          
          .muin .container{
           
            color: #486255;
          }
          .muin .container p{
            text-align: center;
            letter-spacing: 1px;  
            font-size: 20px;
            margin-bottom: 20px;
          }
          .input,
            .msg .area{
              width: 100%;
              padding: 10px;
              box-sizing: border-box;
              margin-bottom: 25px;
              border: 2px solid #e9eaea;
              font-size: 14px;
              border-radius: 5px;
              outline: none;
              transform: all 0.5s ease;
            }
            .btn{
              width: 250px;
              background: #486255;
              height: 50px;
              line-height: 50px;
              text-align: center;
              border-radius: 5px;
              margin: 0 auto;
              color: #fff;
              text-transform: uppercase;
              cursor: pointer;
            }

            .muin .container .maps{
              width: 50%;
            }
            .muin .container .maps img{
             max-width: 100%;
             display: block;
             background-position: center;
             background-size: cover;
            }

            
/*  end   Services side */
    @media screen and (min-width: 700px) {
      #navbar-toggle,
      #navbar-toggle[aria-expanded="true"] {
        
        display: none;
      }
        .section_first{
          left: 20px;
         display: flex;
        
          max-width: 80%;
          margin: auto;
          align-items: center;
         text-align: center;
      }
    
      #navbar-menu,
      #navbar-toggle[aria-expanded="true"] #navbar-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        display: block;
        height: 100%;
      }
    
      .navbar-links,
      #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
        margin: 0;
        padding: 0;
        box-shadow: none;
        position: static;
        flex-direction: row;
        width: 100%;
        height: 100%;
      }
    }
    .maps{
      
      max-width: 50%;
      height: 50%;
      padding:  20px 0 20px;;
    }
    @media screen and (max-width: 600px) {
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
        .section {
           margin: 0;
          padding: 0;
          width: 100%;
        }
         .section_first{
            display: block;
         
         }
         .navbag {
                 
          
          padding: 0;
          margin: 0;
         }
         .navbag img {
          max-width: 100%;
          padding-top:80px;
         margin-right: 0;
         
       
         }
         .navbag h1{
          padding-top:100px;
          font-size: small;
         }
.footer .row{
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer .row span{
 color: rgb(179, 189, 183);
font-size: 13px;

}
      
 
   /*   start  Services side */
   
   
   .section-img .title{
    padding-top: 15%;
  }
  .section-img {
    height: 30%;
    max-width: 100%;
  }
  .muin-section{
    padding-top: 10px;
    display: block;
    
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .btn{
    margin-bottom: 10px;
  }
  p{
    align-items: center;
    text-align: center;
    font-size: small;
   
  }
  
  .inerdiv{
   font-size: small;
   max-width: 100%;

  }
 
  
    }
   
    @media screen and (max-width: 992px) {
        contuiner {
          width: 100%;
        }
        .contuiner .navbag{
            width: 100%;
        }
        .contuiner .section_first{
            display: block;
            margin: auto;
         }
         .contuiner .section_first img{
          width: 100%;
         
         }
         .contuiner footer .row .column_Links h1 {
            display: block;
            font-size: 20px;
           
         }
         .contuiner footer .row .column_Links .links{
            margin-top: 30px;
            display: flex;
         }
         .topnav .topInNav {
            display: grid

         }
         .section_second img{
            height: 150px;
            
         }
    }
  